<ion-view view-title="Budidaya Tanaman Cabai">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      
            <!-- <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Where's Elsa?</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
               
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Hmm. Hope nobody destroys this!</h2>
                    <img class="full-image" src="img/sansa-snowcastle.png">
                </div>
                
            </div>
        
        
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Making Olaf a House</h2>
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                </div>
                
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>ohai!</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
                
            </div> -->

             

             <div class="list"> 

              <a ng-repeat="artk in artikel track by $index" href="#/app/detailartikel/{{artk.$id}}" class="item item-icon-right">

                    <h2>{{artk.judul}}</h2>
                    
                    <i class="icon ion-ios-arrow-right"></i>
                </a>



            </div>


        
    </ion-content>
</ion-view>
