<ion-view view-title="Standar Penilaian">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list animate-fade-slide-in-right">
           
                <a ng-click="gotodetailstandar({{idsubmisi}},3)" class="item item-icon-right item-text-wrap">
                    
                    <h2>KEMAHASISWAAN DAN LULUSAN</h2>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

                <a ng-click="gotodetailstandar({{idsubmisi}},4)" class="item item-icon-right item-text-wrap">
                    
                    <h2>SUMBER DAYA MANUSIA</h2>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

                <a ng-click="gotodetailstandar({{idsubmisi}},5)" class="item item-icon-right item-text-wrap">
                    
                    <h2>KURIKULUM, PEMBELAJARAN, DAN SUASANA AKADEMIK</h2>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

                <a ng-click="gotodetailstandar({{idsubmisi}},6)" class="item item-icon-right item-text-wrap">
                    
                    <h2>PEMBIAYAAN, SARANA DAN PRASARANA SERTA SISTEM INFORMASI</h2>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

                <a ng-click="gotodetailstandar({{idsubmisi}},7)" class="item item-icon-right item-text-wrap">
                    
                    <h2>PENELITIAN, PELAYANAN/PENGABDIAN KEPADA MASYARAKAT, DAN KERJASAMA</h2>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>

            
            
        </div>
    </ion-content>
</ion-view>
