<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/material-graphite.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h4>Data Borang Akreditasi Program Studi</h4>
            </div>
        </div>
        <div class="list">
            <ion-md-input ng-model="datalogin.username" placeholder="Username" highlight-color="positive" type="text"></ion-md-input>
            <ion-md-input ng-model="datalogin.password" placeholder="Password" highlight-color="positive" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="performlogin(datalogin)" class="button button-full button-positive ink"><ion-spinner ng-show="loggingin" icon="spiral"></ion-spinner> Login</button>
        </div>

    </ion-content>
</ion-view>
